/** 
El .container dentro del .headerPrincipal utiliza:
- display: un diseño flexible, 
- align-items: alinea los elementos verticalmente al centro y 
- justify-content: distribuye los elementos horizontalmente con espacio entre ellos.
**/
.headerPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column; 
    flex-grow: 2;
}

.videoSobre-video {
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-button {
    margin-top: auto;
  }

/* Estilos responsive */

@media (max-width:768px) {

    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        margin-left: 10%;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .rodapePrincipal-contatoForm-submit {
        height: 39px;
    }

    .rodapePrincipal-patrocinadores-list {
        align-items: center;
        width: 100%;
        margin: 0;
    }

    fieldset.rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
        flex-direction: column;
    }

    .headerPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre .container{
        flex-direction: column;
    }
}

