/** 
El .container dentro del .headerPrincipal utiliza:
- display: un diseño flexible, 
- align-items: alinea los elementos verticalmente al centro y 
- justify-content: distribuye los elementos horizontalmente con espacio entre ellos.
**/
.headerPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}